@charset "utf-8";

.layout--sidebar {
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header'
    'page';

  height: 100%;
  min-height: 100%;

  &,
  .container {
    display: grid;
  }

  .container {
    grid-area: page;
    grid-template-columns: 1fr var(--debug-sidear-width);
    grid-template-rows: calc(100vh - 45px);
    grid-template-areas: 'content sidebar';

    &.sidebar-collapsed {
      grid-template-columns: 1fr 2em;

      .sidebar {
        border-width: 0.15em;
        border-color: var(--black-ter);
        background-color: var(--black-alpha-20);

        > .button--close {
          left: 50%;
          transform: translateX(-50%);
          background: transparent;
        }
      }
    }

    .content,
    .sidebar {
      position: relative;
    }

    .content {
      grid-area: content;
      overflow: auto;

      // &__scroller {

      //   // Implement scrolling
      // }
    }

    .sidebar {
      grid-area: sidebar;
      border-left: 0.25em solid var(--base-color-bg-bis);

      > .button--close {
        position: absolute;
        top: 1em;
        left: -0.125em;
        border-radius: var(--radius-rounded);
        background: var(--base-color-bg-bis);
        padding: 0.25em;
        color: var(--gray);
        transform: translateX(-50%);
      }

      &.is-collapsed {
        max-width: 20px;
      }
    }
  }
}