@charset "utf-8";

body, html {
  height: 100%;
  min-height: 100%;
}

#app {
  height: 100%;
  min-width: 100%;

  &.is-page {
    display: grid;
    grid-template-rows: var(--page-header-height) 1fr var(--page-footer-height);
  }
}

.v-not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray);

  h2 {
    color: var(--primary);
    font-size: var(--font-size-3);
  }
}