@charset "utf-8";

.v-debug {
  #app,
  .container {
    display: grid;
  }

  #app {
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'header'
      'page';

    height: 100%;
    min-height: 100%;
  }

  .container {
    grid-area: page;
    grid-template-columns: 1fr var(--debug-sidear-width);
    grid-template-rows: calc(100vh - 45px);
    grid-template-areas: 'content sidebar';

    .content {
      grid-area: content;
      overflow: auto;

      &__scroller {
      }
    }

    .sidebar {
      grid-area: sidebar;
      border-left: 1px solid var(--gray-ter);
    }
  }

  @media screen and (min-width: 768px) {
  }

  .overlay-debug,
  .overlay-terminal,
  .overlay-controls {
    display: block;
    margin: 0 1em 0.5em;
    padding: 0 0.5em 0.5em;

    border: 0.25em solid var(--base-color-bg-bis);
    background: var(--black-alpha-30);
    border-radius: var(--radius);
  }

  .fieldset,
  fieldset {
    border: 0.25em solid var(--base-color-bg-bis);
    background: var(--black-alpha-20);
  }

  .overlay-debug {
    .overlay {
      font-size: var(--debug-overlay-font-size);
      position: relative;
      overflow: hidden;
      aspect-ratio: 16/9;
      background-color: var(--debug-checker-bg);
      background-image: linear-gradient(45deg, var(--debug-checker-fg) 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, var(--debug-checker-fg) 75%),
        linear-gradient(45deg, transparent 75%, var(--debug-checker-fg) 75%),
        linear-gradient(45deg, var(--debug-checker-fg) 25%, var(--debug-checker-bg) 25%);
      background-size: var(--debug-checker-size) var(--debug-checker-size);
      background-position: 0 0, 0 0,
        calc(var(--debug-checker-size) * -0.5) calc(var(--debug-checker-size) * -0.5),
        calc(var(--debug-checker-size) * 0.5) calc(var(--debug-checker-size) * 0.5);
      border-radius: var(--radius);

      &.is-2k {
        font-size: calc((var(--debug-overlay-font-size) * 0.3) + var(--debug-overlay-font-size));
      }
    }
  }

  .overlay-terminal {
    max-height: 10em;
    font-family: var(--font-family-mono);
    margin-bottom: 1em;

    &__container {
      max-height: 100%;
      overflow: auto;
    }

    &__line {
      font-size: 0.75em;
      padding: 0.15em;
      display: flex;
      gap: 0.5em;

      &:hover {
        background: var(--white-alpha-5);
      }

      .ts {
        color: var(--gray-ter);
      }

      .pre {
        color: var(--secondary);
      }

      .ctx {
        margin-left: auto;
        color: var(--info);
      }

      &.is-info {
        .pre {
          color: var(--info);
        }
      }

      &.is-warning {
        .pre {
          color: var(--warning);
        }
      }

      &.is-success {
        .pre {
          color: var(--success);
        }
      }

      &.is-error {
        .pre {
          color: var(--danger);
        }
      }
    }
  }

  .overlay-controls {
    dl {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      grid-auto-flow: column;
      gap: 0 calc(var(--page-gap) * 2);

      dt,
      dd {
        padding: 0.15em 0.25em;
      }

      dt {
        font-weight: var(--font-weight-bold);
        color: var(--gray-bis);
      }

      dd {
        color: var(--secondary);
        font-family: var(--font-family-mono);
        font-size: var(--font-size-small);
      }
    }

    &__header {
      display: grid;
      grid-template-columns: 1fr auto;
      padding: 0.5em 0.5em 0;
      margin-bottom: 0.5em;
      align-items: center;
    }

    &__title {
      font-weight: var(--font-weight-bold);
    }

    &__container {
      display: flex;
      gap: var(--page-gap);

      > fieldset {
        flex: 1 1 auto;
      }
    }
  }
}
