@charset "utf-8";

.v-debug {
  .container {
    height: 100%;
    min-height: 100%;

    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr minmax(33vw, 360px);
    grid-template-areas:
      'header header'
      'content sidebar';
    .content {
      grid-area: content;
    }

    .sidebar {
      grid-area: sidebar;
      border-left: 1px solid var(--gray-ter);
    }
  }

  @media screen and (min-width: 768px) {
  }

  .overlay-debug,
  .overlay-terminal {
    margin: 1em;
    border: 0.25em solid var(--base-color-bg-bis);
    border-radius: var(--radius);
  }
  .overlay-debug {
    --fg: var(--base-color-bg-bis);
    --bg: var(--base-color-bg);
    --size: 1em;

    aspect-ratio: 16/9;
    background-color: var(--bg);
    background-image: linear-gradient(45deg, var(--fg) 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, var(--fg) 75%),
      linear-gradient(45deg, transparent 75%, var(--fg) 75%),
      linear-gradient(45deg, var(--fg) 25%, var(--bg) 25%);
    background-size: var(--size) var(--size);
    background-position: 0 0, 0 0, calc(var(--size) * -0.5) calc(var(--size) * -0.5),
      calc(var(--size) * 0.5) calc(var(--size) * 0.5);
  }

  .overlay-terminal {
    background: var(--black-alpha-30);
    padding: 1em;
    min-height: 10em;
    font-family: var(--font-family-mono);

    &__line {
      font-size: 0.75em;
      padding: 0.15em;
      display: flex;
      gap: 0.5em;

      &:hover {
        background: var(--white-alpha-5);
      }

      .ts {
        color: var(--gray-ter);
      }

      .pre {
        color: var(--secondary);
      }

      .ctx {
        margin-left: auto;
        color: var(--info);
      }

      &.is-info {
        .pre {
          color: var(--info);
        }
      }

      &.is-warning {
        .pre {
          color: var(--warning);
        }
      }

      &.is-success {
        .pre {
          color: var(--success);
        }
      }

      &.is-error {
        .pre {
          color: var(--danger);
        }
      }
    }
  }
}
