@charset "utf-8";

.field {
  margin: 0 0 1em;
  position: relative;

  &,
  &__label,
  &__content,
  &__input,
  &__pre,
  &__post {
    display: flex;
  }

  &__label,
  &__input,
  &__pre,
  &__post {
    flex: 1 1 auto;
  }

  &__pre {
    margin-right: var(--page-gap);
  }

  &__post {
    margin-left: var(--page-gap);

    > .button {
      display: flex;
      height: auto;
    }
  }

  &.is-vertical {
    flex-direction: column;

    .field__label {
      margin-bottom: 0.5em;
    }
  }

  &.is-horizontal {
    .field__label {
      flex-basis: 33%;
    }
    .field__content {
      flex-basis: 66%;
    }
  }
}
