@charset "utf-8";

.field {
  margin: 0 0 1em;
  position: relative;

  &__label,
  &__pre,
  &__post {
    display: flex;
  }

  &__pre {
    grid-area: pre;
  }

  &__post {
    grid-area: post;
  }

  &__pre,
  &__post {
    > .button {
      display: flex;
      height: auto;
    }

    .field {
      margin: 0;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--page-gap);

    &.has-pre,
    &.has-post {
      grid-template-columns: auto auto;
    }

    &.has-help {
      grid-template-areas:
        'input'
        'help';
    }

    &.has-pre {
      grid-template-columns: auto 1fr;
      grid-template-areas:
        'pre input'
        'help help';
    }

    &.has-post {
      grid-template-columns: 1fr auto;
      grid-template-areas:
        'input post'
        'help help';
    }

    &.has-post.has-pre {
      grid-template-columns: auto 1fr auto;
      grid-template-areas:
        'pre input post'
        'help help help';
    }
  }

  &__help {
    grid-area: help;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: flex-start;
    font-size: var(--font-size-small);
    margin-top: calc(var(--page-gap) + 0.2em);
    color: var(--gray-bis);
    gap: var(--page-gap);
  }

  &.is-vertical {
    flex-direction: column;

    .field__label {
      margin-bottom: 0.5em;
    }
  }

  &.is-horizontal {
    display: grid;
    grid-template-columns: 33.333333% auto;
    grid-template-areas: 'content content';

    &.has-label {
      grid-template-areas: 'label content';
    }

    .field__label {
      grid-area: label;
    }

    .field__content {
      grid-area: content;
    }
  }
}

.fieldset,
fieldset {
  display: flex;
  flex-direction: column;
  border: 0.25em solid var(--base-color-bg-bis);
  background: var(--black-alpha-20);
  border-radius: var(--radius);
  padding: calc(var(--page-gap) * 2);

  .legend,
  legend {
    padding: calc(var(--page-gap) * 2);
    text-transform: uppercase;
    font-size: var(--font-size-small);
    color: var(--gray-bis);
  }

  .form-buttons {
    margin: 0;
  }

  > h2 {
    margin-top: calc(var(--page-gap) * 4);
    margin-bottom: calc(var(--page-gap) * 2);
    font-weight: var(--font-weight-bold);
    color: var(--gray-bis);
  }

  > legend + h2 {
    margin-top: 0;
  }
}
