@charset "utf-8";

.inline-notification {
  background: var(--black-alpha-20);
  margin: 2em 0;
}

.notification,
.inline-notification {
  padding: 1em;
  border: 1px solid var(--black-alpha-20);
  border-radius: var(--radius);
  box-shadow: inset 0 1px var(--white-alpha-5), 0 2px var(--black-alpha-20);

  &,
  &__icon {
    display: flex;
  }

  &__icon {
    border-radius: var(--radius-rounded);
    width: 1.5em;
    height: 1.5em;
    margin-right: 1em;
    align-items: center;
    justify-content: center;
    color: var(--white-alpha-80);
    border: 2px solid var(--black-alpha-20);
  }

  &.is-error &__icon {
    background-color: var(--notification-error);
  }
  &.is-warning &__icon {
    background-color: var(--notification-warning);
  }
  &.is-success &__icon {
    background-color: var(--notification-success);
  }
  &.is-info &__icon {
    background-color: var(--notification-info);
  }

  &__content {
    padding-top: 0.175em;
  }
}
