@charset 'utf-8';

.field--input-aliases {
  .field__input {
    flex-direction: column;

    > .field {
      display: block;
      margin-bottom: calc(var(--page-gap) * 2);

      .field__content {
        flex-basis: 100%;
      }
      .field__post {
        flex: 0 1 auto;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .aliases {
    font-size: var(--input-font-size);
    position: relative;
    display: flex;
    gap: 0.25em;
    flex-wrap: wrap;
    border: var(--input-border-width) solid var(--input-color-b);
    border-radius: var(--radius);
    padding: 0.25em;
    background-color: var(--input-color-bg);

    & + .field {
      margin-top: 0.5em;
    }

    .tag {
      appearance: none;
      border: 1px solid transparent;
      border-radius: var(--radius);
      justify-content: center;
      align-items: center;
      font-size: 0.875em;
      line-height: 1;
      word-break: keep-all;
      white-space: nowrap;
      transition: all 0.1s linear;
      text-decoration: none;

      font-family: var(--font-family-mono);
      padding: 0;
      display: grid;
      grid-template-columns: 1fr auto;
      background-color: var(--secondary-ter);

      .text,
      .button .icon {
        padding: calc(var(--page-gap) + 0.1em);
      }

      .button {
        border: none;

        &:hover {
          background: transparent;
        }
      }
    }
  }
}
