@charset "utf-8";

.page-header {
  position: relative;
  z-index: 3;
  background: var(--page-header-color-bg);
  padding: var(--page-gap);
  border-bottom: 0.125em solid var(--black);

  h1 {
    font-size: var(--font-size-2);
  }

  &__container,
  &__item {
    display: flex;
    align-items: center;
  }

  &__container {
    justify-content: space-between;
  }

  &__item--center {
    flex-grow: 1;
    padding-left: 1em;
    justify-content: flex-start;
  }
}

.page-sub-header {
  margin: 2em 0;
}
