@charset "utf-8";

html {
  font-size: var(--font-base-size);
}

body {
  background-color: var(--body-background-color);
  font-size: 100%;
  font-family: var(--font-family-body);
  color: var(--white);
}