@charset "utf-8";

.button {
  appearance: none;
  border: 1px solid transparent;
  border-radius: var(--radius);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875em;
  line-height: 1;
  background: var(--button-color-bg);
  color: var(--button-color-fg);
  height: var(--button-height);
  padding: 0 1em;
  transition: all 0.1s linear;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:focus {
    background: var(--button-color-hover-bg);
    color: var(--button-color-hover-fg);
  }

  > span {
    display: inline-flex;
  }

  .text + .icon:last-child {
    margin-right: -0.25em;
  }

  .avatar:first-child + .text,
  .icon:first-child + .text,
  .text + .icon:last-child {
    margin-left: 0.5em;
  }

  &--primary {
    background: var(--primary);

    &:hover,
    &:focus {
      background: var(--primary-bis);
    }
  }

  &--close {
    height: auto;
    background: none;
    padding: 0.1em;
  }

  &--transparent {
    background: transparent;
  }

  &--close,
  &--transparent {
    &:focus,
    &:hover {
      background: var(--white-alpha-10)
    }
  }

  &--fw {
    width: 100%;
  }

  &--icon {
    font-size: 1.1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  &[disabled="true"],
  &.is-disabled {
    
    &,
    &:hover,
    &:focus {
      cursor: default;
      background: var(--white-alpha-10);
      color: var(--white-alpha-30);
    }
  }
}