@charset "utf-8";

.button {
  appearance: none;
  border: 1px solid transparent;
  border-radius: var(--radius);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875em;
  line-height: 1;
  word-break: keep-all;
  white-space: nowrap;
  background: var(--button-color-bg);
  color: var(--button-color-fg);
  height: var(--button-height);
  padding: 0 1em;
  transition: all 0.1s linear;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:focus {
    background: var(--button-color-hover-bg);
    color: var(--button-color-hover-fg);
  }

  > span {
    display: inline-flex;
  }

  .popup-text {
    position: absolute;
    bottom: calc(100% + 0.5em);
    background: var(--black);
    font-size: var(--font-size-tiny);
    padding: 0.5em;
    border-radius: var(--radius);
    transition: all 200ms linear;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10%);

    &:after {
      $size: 0.5em;
      content: '';
      position: absolute;
      top: 99%;
      left: 50%;
      width: 0;
      height: 0;
      transform: translateX(-50%);
      border-left: $size solid transparent;
      border-right: $size solid transparent;
      border-top: $size solid var(--black);
    }
  }

  &:has(.popup-text) {
    position: relative;

    &:hover .popup-text {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  &:not(:has(.popup-text)) {
    .icon:last-child:not(:first-child) {
      margin-left: 0.5em;
      margin-right: -0.25em;
    }

    .avatar:first-child:not(:last-child),
    .icon:first-child:not(:last-child) {
      margin-left: -0.25em;
      margin-right: 0.5em;
    }
  }

  &--primary {
    background: var(--primary);
    color: var(--white-alpha-70);

    &:hover,
    &:focus {
      background: var(--primary-bis);
    }
  }

  &--icon {
    font-size: 1.1em;
    padding-left: calc(var(--page-gap) * 2);
    padding-right: calc(var(--page-gap) * 2);

    &.button--sm {
      font-size: 1em;
    }
  }

  &--text {
    padding: 0.1em;
    height: auto;
    color: var(--secondary);

    &,
    &:hover {
      background: transparent;
      border-color: transparent;
      border-radius: 0;
    }

    &:hover {
      color: var(--primary);
      border-bottom: 1px dotted;
    }
  }

  &--transparent {
    background: transparent;
  }

  &--help,
  &--close {
    height: auto;
    background: none;
    padding: 0.1em;
  }

  &--help,
  &--close,
  &--transparent {
    &[disbaled],
    &.is-disabled {
      background: red;
    }

    &:focus,
    &:hover {
      border-color: var(--gray-ter);
    }
  }

  &--help {
    color: var(--info);

    &:hover,
    &:focus {
      background: var(--notification-info-bg);
      color: var(--white-alpha-50);
    }
  }

  &--danger-hover,
  &--danger {
    &:hover,
    &:focus {
      background: var(--danger);
      border-color: var(--danger);
      color: var(--white-alpha-80);
    }
  }

  &--warning {
    &:hover,
    &:focus {
      background: var(--warning);
      color: var(--white-alpha-80);
    }
  }

  &--success {
    &:hover,
    &:focus {
      background: var(--success);
      color: var(--white-alpha-80);
    }
  }

  &--sm {
    font-size: 0.875em;
    height: var(--button-height-sm);
  }

  &--fw {
    width: 100%;
  }

  &--tag {
    font-family: var(--font-family-mono);
    height: inherit;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: var(--page-gap);
    background-color: var(--secondary-ter);

    .icon,
    .text {
      padding: calc(var(--page-gap) + 0.1em);
    }

    // Needs to be specific because of the above
    // "magic" trick for icons
    //
    .text + .icon:last-child {
      margin: 0;
      padding-left: 0;
    }
  }

  &[disabled='true'],
  &.is-disabled {
    opacity: 0.5;

    &,
    &:hover,
    &:focus {
      cursor: default;
      background: var(--white-alpha-10);
      color: var(--white-alpha-30);
    }
  }
}

.form-buttons {
  display: flex;
  gap: calc(var(--page-gap) * 2);
  width: 100%;
  margin: 2em 0;

  & + .form-buttons {
    margin-top: calc(var(--page-gap) * 2);
  }

  .button--right {
    margin-left: auto;
  }

  .is-active {
    color: var(--white);
    font-weight: var(--font-weight-bold);
    background-color: var(--black);
  }

  &--fw {
    display: block;

    .button {
      width: 100%;
      & + .button {
        margin-top: var(--page-gap);
      }
    }
  }

  &--inline {
    margin: 0;
    gap: var(--page-gap);
  }

  &--right {
    justify-content: flex-end;
  }

  &--centered {
    justify-content: center;
  }
}
