@charset "utf-8";

.container {
  display: flex;
}

.square-img {
  img {
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}

dl.token-descriptions {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1em;
  margin: 1em 0;

  dt {
    width: 33%;
  }

  dd {
    width: 66%;
    margin-left: auto;
  }
}
