@charset "utf-8";

.tabs {
  display: flex;
  gap: 0.5em;
  padding: 0 1em;
  border-bottom: 0.25em solid var(--base-color-bg-bis);

  &__trigger {
    display: inline-flex;
    padding: 0.25em 0.5em 0.5em;
    position: relative;
    color: var(--link-color);
    text-decoration: none;

    &:hover {
      cursor: pointer;
      color: var(--white);
    }

    &.is-active {
      cursor: default;
      color: var(--white);
    }

    &-bb {
      display: none;
      visibility: hidden;
      opacity: 0;
      width: 100%;
      height: 0.25em;
      background: var(--gray-bis);
      position: absolute;
      left: 0;
      bottom: -0.25em;
      border-radius: var(--radius);
    }

    &.is-active &-bb {
      display: block;
      visibility: visible;
      opacity: 1;
    }

    &.is-current &-bb {
      background: var(--secondary-ter);
    }
  }

  &__content {
    padding: 2em 2em 1em;
  }

  &--config {
    padding: 1.5em 1em 0;
    background: var(--black-alpha-30);
  }
}
