@charset "utf-8";

.table-wrapper {
  margin: 0;
}

.table-actions {
  margin: 1em 0 2em;

  .button {
    height: calc(var(--input-height) + 0.2em);
  }

  .field__label {
    text-transform: uppercase;
    color: var(--gray-bis);
    font-size: var(--font-size-tiny);
    letter-spacing: 0.025em;
  }

  .field__input {
    input,
    .input-select__v {
      border-width: 0.25em;
    }
  }
}

.table-actions--header {
  padding: 1em 0;
}

.table-actions--footer {
  background: var(--table-header-color-bg);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

@media screen and (min-width: 700px) {
  .table-actions {
    display: flex;
    align-items: center;
    margin: 0;

    &,
    &__left,
    &__right,
    &__center {
      display: flex;
      gap: 0.5em;
    }

    &__left,
    &__right {
      flex: 1;
      align-items: flex-end;

      > .field {
        margin: 0;
      }
    }

    &__right {
      justify-content: flex-end;
    }
  }
}

.table {
  border: 0.25em solid var(--table-color-b);
  border-radius: var(--radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0 0 1em var(--black-alpha-20);

  &__header {
    background: var(--table-header-color-bg);

    .table__row {
      align-items: center;
    }

    .table__cell--h:not(.cb) {
      text-transform: uppercase;
      font-size: var(--font-size-tiny);
    }
  }

  &__cell {
    flex: 1;

    &.cb {
      max-width: 2em;
    }

    &.actions {
      min-width: 9em;
      flex: 0 1 auto;
    }

    &.right {
      text-align: right;
    }
  }

  &__row {
    display: flex;
    padding: 0.5em 1em;
  }

  &__body {
    .table__row {
      background: var(--table-color-bg);
      padding: 1em;
      border-bottom: 1px solid var(--table-color-b-bis);

      &--hovered {
        background: var(--white-alpha-2);
      }
    }
  }

  &__cell-content {
    .title,
    p {
      margin-bottom: 0.75em;
    }

    .title {
      font-size: var(--font-size-1);
      font-weight: var(--font-weight-bold);

      &,
      a {
        color: var(--white-bis);
      }
    }

    .description {
      font-size: var(--font-size-small);
      color: var(--input-color-help);
    }
  }
}
