@charset 'utf-8';

.toast.so-cmd {
  top: 50%;
  transform: translateY(-50%);
  border: 0.15em solid var(--o-primary);

  // transform: scale(0) translateY(-70%);
  // opacity: 0;
  // visibility: hidden;
}
